<% if @stories.any? %>
  <div class="stories-list">
    <% @stories.each do |story| %>
      <story-item :story="<%= story.to_json %>"></story-item>
      
    <% end %>
  </div>
<% else %>
  <div class="d-flex justify-content-center">
    <p>No stories found ...</p>
  </div>
<% end %>